[submodule "thirdparty/shaderc"]
	path = thirdparty/shaderc
	url = https://github.com/google/shaderc.git
[submodule "thirdparty/SPIRV-Tools"]
	path = thirdparty/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "thirdparty/SPIRV-Headers"]
	path = thirdparty/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/SPIRV-Cross"]
	path = thirdparty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "thirdparty/glslang"]
	path = thirdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "thirdparty/gmath"]
	path = thirdparty/gmath
	url = https://github.com/felipeagc/gmath.git
[submodule "thirdparty/fstd"]
	path = thirdparty/fstd
	url = https://github.com/felipeagc/fstd.git
